
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* colori background */

.sofnodo-cont-primario {
    background-color: #D8DBD4;
    height: 100vh;
}

.sf-nav-verde {
    background-color: #009688;
    height: 20vh;
    z-index: -1;
}

.bg-hat-nav {
    background-color: #EAEAEA;
}

.bg-notifiche {
    background-color: #8EDAFC;
}

.bg-chat {
    background-image: url(../imgs/mine.jpg);
    background-position: center;
}

/* dimensioni avatar */

img {
    width: 40px;
    border-radius: 50%;
}

/* contenitori */

.contenitore-chat {
    height: 95vh;
    margin-top: 1rem;
    background-color: white;
}

/* dimensionamento sidebar */

.side-w {
    width: 35%;
}

.cerchio-icona {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8EDAFC;
}

/* bordi */

.bordo-inf-card {
    border-bottom: 1px solid #EAEAEA;
}

.bordino-naw-chat {
    height: 50px;
    border-left: 1px solid grey;
}

.text-color {
    color: #B1B1B1;
}