<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>vue-boolzapp</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div id="app">
        <!-- contenitore prinicipale di sfondo -->
        <main>
            <div class=" sofnodo-cont-primario">
                <div>
                    <!-- navbar verde per intenderci -->
                    <div class="sf-nav-verde">
                        <div class="row justify-content-center g-0">
                            <div class="col-10 d-flex contenitore-chat">

                                <!-- contenitore utenti sx ----------------------------------------->
                                <div class="d-flex flex-column side-w">

                                    <!-- navbar contenitore utenti ----------->
                                    <div class="d-flex justify-content-between align-items-center bg-hat-nav px-2 py-1">
                                        <div>
                                            <img class="avatar-img" src="imgs/avatar_2.jpg" alt="">
                                            <span class="small">Lucio</span>
                                        </div>
                                        <!-- contenitore icone -->
                                        <div class="text-secondary">
                                            <i class="fa-solid fa-circle-notch"></i>
                                            <i class="fa-solid fa-message px-3"></i>
                                            <i class="fa-solid fa-ellipsis-vertical "></i>
                                        </div>
                                    </div>

                                    <!-- notifiche contenitore utenti -->
                                    <div class="bg-notifiche d-flex align-items-center p-2 py-2">
                                        <div>
                                            <i class="fa-solid fa-bell-slash cerchio-icona"></i>
                                        </div>
                                        <div class="px-2">
                                            <div>
                                                <span>Ricevi notifiche di nuovi messaggi</span>
                                            </div>
                                            <div>
                                                <span class="small text-decoration-underline text-secondary">Attiva
                                                    notifiche desktop</span>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- barra ricerca contentitore utenti -->
                                    <div class="p-2 bg- bg-hat-nav">
                                        <form class="container-fluid">
                                            <div class="input-group">
                                                <span class="input-group-text" id="basic-addon1"><i
                                                        class="fa-solid fa-magnifying-glass"></i></span>
                                                <input type="text" class="form-control small"
                                                    placeholder="Cerca o ainizia una nuova chat">
                                            </div>
                                        </form>
                                    </div>

                                    <!-- card utenti -->
                                    <div class=" flex-grow-1 overflow-auto d-flex flex-column">
                                        <!-- card -->
                                        <div v-for="(utente, i) in utenti"
                                            @click="utenteSelezionato = utente">
                                            <!-- v-for sopra  ----------------------------------------->

                                            <div class="d-flex align-items-center p-2 bordo-inf-card">
                                                <div>
                                                    <img :src="`imgs/avatar${utente.avatar}.jpg`" alt="">
                                                </div>
                                                <div class="flex-grow-1">
                                                    <span class="p-2">{{utente.name}}</span>
                                                    <div class="small px-2 text-color">ultimo messaggio inviato il</div>
                                                </div>
                                                <small class="align-self-baseline text-color">12:00</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- contenitore chat laterale dx ------------------------------------->
                                <div class="flex-grow-1 d-flex flex-column">
                                    <!-- nav chat -->
                                    <div
                                        class="d-flex justify-content-between align-items-center bg-hat-nav p-2 bordino-naw-chat">
                                        <div>
                                            <img :src="`imgs/avatar${utenteSelezionato.avatar}.jpg`" alt="">
                                            <span class="small px-3">{{utenteSelezionato.name}}</span>
                                        </div>
                                        <!-- contenitore icone -->
                                        <div class="text-secondary">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                            <i class="fa-solid fa-paperclip px-3"></i>
                                            <i class="fa-solid fa-ellipsis-vertical "></i>
                                        </div>
                                    </div>
                                    <!--  chat -->
                                    <div class="p-3 flex-grow-1 overflow-auto bg-chat">
                                        <div class="d-flex flex-column gap-3">
                                            <div class="messaggio-chat"
                                                v-bind:class="{'messaggio-inviato' : oggettoMessaggio.status === 'sent'}"
                                                v-for="(oggettoMessaggio) in utenteSelezionato.messages ">
                                                <!-- v-for sopra  ----------------------------------------->
                                                {{oggettoMessaggio.message}}
                                            </div>
                                        </div>
                                    </div>
                                    <!-- footer chat -->
                                    <div class="p-2 d-flex align-items-center text-secondary bordino-naw-chat">

                                        <div>
                                            <a class="px-4 text-color" href="">
                                                <i class="fa-regular fa-face-sad-cry"></i></i>
                                            </a>
                                        </div>

                                        <div class="flex-grow-1">
                                            <form class="">
                                                <input class="form-control form-control-sm " type="text" placeholder="invia messaggio, forse" aria-label=".form-control-sm example"
                                                v-model="messaggioInviato" @submit.preventDefault()="nuovoMessaggioInviato">
                                            </form>
                                        </div>
                                        <div>
                                            <a class="px-4 text-color" href="">
                                                <i class="fa-solid fa-microphone-lines-slash"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
    </div>
    </main>
    </div>

    <!-- javascript -->
    <script src="js/main.js"></script>
</body>

</html>